<!-- Include Javascript code in HTML, that is what ejs files are made for -->
<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<!-- Include some conditional statements -->
<!-- We need to remove the equal sign for conditions -->
<% if (thingVar.toLowerCase() === "rusty"){ %>
    <p>That's a good  dog</p>
<% }else { %> 
    <p>Bad choice! you should have said Rusty! </p>
<% } %> 

<p>P.S. this is the love.ejs file</p>

